.sidebar-headder
  .my-group
    所属グループ
  .new-group
    = link_to "グループ新規作成", new_group_path

.sidebar-main
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_targeters_path(group) do
          .group__name
            = group.group_name
          .group__target