.sidebar-headder
  .link
    .new-group
      = link_to "新規グループ作成", new_group_path
    .edit-user
      = link_to "アカウント編集", edit_user_path(current_user) 

.sidebar-main
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_targeters_path(group) do
          .group__name
            = group.group_name
          .group__target