.wrapper{
  height: 100%;
  width: 100%;
  display: flex;

  
  

  .sidebar{
    // min-height: 100vh;
    min-width: 20vw;
    background-color: gray;
    color: white;
    height: 800px;
    .sidebar-headder{
      height: 100px;
      width: 100%;
      font-size: 5px;
      text-align: center;
      font-size: 20px;
      .new-group a{
        color: white;
        text-decoration: none;
      }
      .edit-user a{
        color: white;
        text-decoration: none;
      }
    }
    .sidebar-main{
      border-top: 2px solid whitesmoke;
      height: calc(100% - 100px);
      overflow: auto;
      .groups{
        margin: 30px;
        .group{
          padding-bottom: 20px;
          a{
            text-decoration: none;
            color: white;
          }
          &__name{
            font-size: 20px;
          }
          &__target{

          }
        }
      }
    }
  }

  .target{
    width: 80vw;
    background-color: gray;
    border-left: 2px solid whitesmoke;
    color: white;
    .target-headder{
      height: 100px;
      width: 100%;
      display: flex;
      .current-group{
        &__group-name{
          font-size: 25px;
          padding-top: 10px;
          padding-left: 10px;
        }
        &__group-member{
          font-size: 15px;
          padding-top: 10px;
          padding-left: 10px;
        }
        &__edit-btn a{
          position: absolute;
          top: 28px;
          right: 35px;
          font-size: 16px;
          border :white solid 1px;
          height: 40px;
          padding: 0 20px 0 20px;
          line-height: 40px;
          display: flex;
          justify-content: flex-end;
          color: white;
          text-decoration: none;
        }
      }
    }
    .target-main{
      border-top: 2px solid whitesmoke;
      height: calc(100% - 100px);
      .targets{
        justify-content: space-between;
        height: 100%;
        display: flex;
        .first-target{
          height: 100%;
          width: 300px;
          background-color: skyblue;
          // margin-left: 20px;
          &__target-name{
            font-size: 20px;
            text-align: center;
            padding-top: 15px;
          }
          &__target-counts{

          }
          &__target-user{
            font-size: 20px;
            text-align: center;
            padding-top: 600px;
          }
        }
        .second-target{
          height: 100%;
          width: 300px;
          background-color: skyblue;
          &__target-name{
            font-size: 20px;
            text-align: center;
            padding-top: 15px;
          }
          &__target-counts{

          }
          &__target-user{
            font-size: 20px;
            text-align: center;
            padding-top: 600px;
          }
        }
        .third-target{
          height: 100%;
          width: 300px;
          background-color: skyblue;
          &__target-name{
            font-size: 20px;
            text-align: center;
            padding-top: 15px;
          }
          &__target-counts{

          }
          &__target-user{
            font-size: 20px;
            text-align: center;
            padding-top: 600px;
          }
        }
      }
    }
  }
}