.wrappers{
  background-color: gray;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  .title {
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 130px;
    .main-title{
      font-size: 50px;
    }
    .sub-title{
      padding-top: 10px;
      font-size: 25px;
    }
  }
  .btn {
    font-size: 30px;
    display: flex;
    padding: 13% 0;
    .home-btn {
      height: 42px;
      width: 120px;
      border: solid 1px white;
      border-radius: 5px;
      padding: 5px;
      margin: 0 auto;
      a{
        display: block;
        text-decoration: none;
        color: white;
      }
    }
    .new-btn {
      height: 42px;
      width: 120px;
      border: solid 1px white;
      border-radius: 5px;
      padding: 5px;
      margin-left: auto;
      a{
        display: block;
        text-decoration: none;
        color: white;
      }
    }
    .login-btn {
      height: 42px;
      width: 120px;
      border: solid 1px white;
      border-radius: 5px;
      padding: 5px;
      margin-left: 100px;
      margin-right: auto;
      a{
        display: block;
        text-decoration: none;
        color: white;
      }
    }
  }
}



